*{
  margin: 0;
  padding: 0;
  border: none;
}

body{
  background-color: #d0d4e7;
}

main{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  row-gap: 4rem;
  margin: 10vh 15vw;
}

.addTaskSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  min-height: 20vh;
  border: 2px  cadetblue dashed;
  border-radius: 15px;
}

.addTaskRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}

.taskListSection{
  padding: 3rem;
  min-height: 20vh;
  border: 2px  rgb(25, 62, 117) dashed;
  border-radius: 15px;
}

.calendarSection{
  padding: 3rem;
  min-height: 20vh;
  border: 2px  rgb(25, 117, 37) dashed;
  border-radius: 15px;
}






:where(.css-dev-only-do-not-override-1qhpsh8).ant-btn-default:disabled{
  color: rgba(0, 0, 0, 1);
  background-color: #e8e5cb;
}


